<div class="container">
    <div class="text-center border mb-5 shadow rounded">
        <h1>Contact</h1>
        <hr>
        <p ><b>Job Inquiry and Feedback </b>  <a href = "mailto: iumutdikbasan@gmail.com" >iumutdikbasan@gmail.com</a></p>
        <hr>
        <p> Check other projects on <a href="https://github.com/iumutdikbasan" class="beautiful-link" target="_blank">Github</a></p>
        <hr>
        <p>Feel free to contact me at <b>+90 506 056 2667</b></p>
        <hr>
        <p>Check my <a href="https://www.linkedin.com/in/ibrahimumutdikbasan/" class="beautiful-link" target="_blank">LinkedIn</a></p>
    </div>
    <div class="list-group shadow">
        <a href=""></a>
    </div>
</div>
