<div class="container text-center">
    <button (click)= "DownloadFile()" class="btn btn-danger mb-5 shadow border btn-lg">Download Resume</button>
    <div class="pb-2">
        <accordion [isAnimated]="true" class="shadow">
            <accordion-group heading="Work Experience">
                <div style="text-align: left;">
                    <h2 class="mb-0">Software Developer</h2>
                    <h3 class="text-primary">Link Bilgisayar</h3>
                    <h4 class="text-primary">İstanbul, Turkey(On Site)</h4>
                    <h5>April 2024-October 2024</h5>
                    <p>
                        Link Güneş Sistemi is <b>Turkey's most comprehensive ERP software</b>, helping businesses manage their
                        critical business processes since 1988. In this project, <b>played an active role in modernizing legacy
                            technologies and digital transformation processes.</b>                        
                    </p>
                    <li>Played an active role in <b>modernizing legacy technologies and digital transformation processes.</b></li>
                    <li>Migrated a C++ MFC and WPF-based project to modern web platforms using <b>.NET 6.0.2.</b></li>
                    <li>Conducted code optimization and database enhancements to improve performance in <b>.NET 4.6.2</b>applications.</li>
                    <li>Developed and maintained desktop applications using C# WPF and C++ MFC.</li>
                    <li>Integrated <b>C++ backend code </b>with WPF and .NET projects, bridging old and new technologies.</li>
                    <li>Utilized <b>multi-threading</b> in C++ for parallel processing to <b>optimize performance,</b> and developed custom form and dialog controls with MFC.</li>
                    <li>Developed automated test scenarios using <b>NUnit</b> for enhanced test coverage.</li>
                </div>
                <div style="text-align: left;">
                    <h2 class="mb-0">Software Developer Intern</h2>
                    <h3 class="text-primary">SNI Technology</h3>
                    <h4 class="text-primary">İstanbul, Turkey(On Site)</h4>
                    <h5>June 2023-August 2023</h5>
                    <p>
                    During my internship at SNI Technology, I had the opportunity to learn a multitude of new technologies through the
                    provided road map and my consistent and diligent work. Throughout this experience, I gained proficiency in various
                    technologies, including the <b>fundamentals of Java, SQL, Spring framework Rest API architecture, Hibernate-JPA,
                    Flyway, and Docker.</b>
                    </p>
                </div>
                <hr>
                <div style="text-align: left;">
                    <h2 class="mb-0">Business and Product Analyst Assistant</h2>
                    <h3 class="text-primary">TalentMondo </h3>
                    <h4 class="text-primary">Talinn, Estonia(Remote)</h4>
                    <h5>March 2021-September 2021</h5>
                    <p>
                        Facilitate communication between different teams, ensuring everyone is aligned on product vision and goals. This
                        includes organizing meetings and writing reports. Analyze product performance data, user interaction metrics, and other
                        relevant information to evaluate the success of product features and identify areas for improvement. Familiarity with data
                        entry software and tools, as well as electronic spreadsheet applications like <b> Microsoft Excel and Power BI. </b>
                    </p>
                </div>
            </accordion-group>
            <accordion-group heading="Education">
                <div style="text-align: left;">
                    <h2 class="mb-0">Beykent University</h2>
                    <h3 class="text-primary">Management Information Systems</h3>
                    <ul>
                        <li>
                            <b>September 2019 - September 2023 </b>
                        </li>
                        <li>
                            <b> Communications Manager of Beykent Software Engineering Fellowship </b>
                        </li>
                    </ul>
                </div>
            </accordion-group>
            <accordion-group heading="Bootcamps">
                <div style="text-align: left;">
                    <h3>eBebek Java Bootcamp</h3>
                    <ul>
                        <li>Obtained 28/10/2022-25/11/2022</li>
                    </ul>
                </div>
            </accordion-group>
            <accordion-group heading="Certificates">
                <div style="text-align: left;">
                    <h3>Data Scientist with Python Certificate</h3>
                    <ul>
                        <li>DataCamp</li>
                        <li>2021</li>
                    </ul>
                    <h3>Geleceği Yazanlar Java 101 </h3>
                    <ul>
                        <li>Turkcell</li>
                        <li>2021</li>
                    </ul>
                    <h3>Advanced SQL</h3>
                    <ul>
                        <li>Patika</li>
                        <li>2021</li>
                    </ul>
                    <h3>+10 hours of conversation English with native speaking tutors  </h3>
                    <ul>
                        <li>Cambly</li>
                        <li>2022</li>
                    </ul>
                    <h3>Backend Web Development Path with Java </h3>
                    <ul>
                        <li>Patika</li>
                        <li>2022</li>
                    </ul>
                </div>
            </accordion-group>
            <accordion-group heading="Skills">
                <div class="row" style="text-align: left;">
                    <div class="col">
                        <h3>Programming Languages:</h3>
                        <ul>
                            <li>C#</li>
                            <li>C++</li>
                            <li>Java</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>Frameworks and Databases:</h3>
                        <ul>
                            <li>.NET</li>
                            <li>Angular</li>
                            <li>MSSQL</li>
                            <li>PostgreSQL</li>
                            <li>Mongo DB</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>Other Skills</h3>
                        <ul>
                            <li>Source Control via Git</li>
                            <li>RESTful architectures</li>
                            <li>SOLID Princples</li>
                            <li>Containerization with Docker</li>
                        </ul>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>   
</div>